/* Gacha */
.gacha-container {
    margin:25vh auto auto auto;
    max-width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gacha-result {
    color: var(--text-color);
    font-size: 80px;
    margin-bottom: 100px;
}

#gacha-button {
    color: var(--text-color);
    font-family: "Source Code Pro", monospace;
    font-size: 50px;
    width: fit-content;
    background-color: transparent;
    margin: auto;
    border: 1px solid var(--border-color);
    transition: all 200ms ease-in-out;
    margin-bottom: 100px;
}

#gacha-button:hover {
    background-color: var(--text-color);
    color: var(--window-bg-color);
}

#auto-pull-toggle {
    height: 25px;
    width: 40px;
}

#auto-pull-toggle ~ label {
    font-size: 40px;
}

.version {
    position: absolute;
    bottom: 10px;
    right: 12px;
}

@media screen and (max-width: 950px) {
    #gacha-result {
        font-size: 40px;
    }
}