/* General */
:root {
    --bg-color: #e9e6e2;
    --window-bg-color: #f9f6f2;
    --border-color: #bfbfbf;
    --text-color: #000000;
}

html {
    height: 100%;
}

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    box-sizing: border-box;
    min-height: 100%;
    background-color: var(--bg-color);
    margin: 0;
    padding: 20px 10px 10px 10px;
    color: var(--text-color);
    display: grid;
    grid-template-columns: [start-column] 20% [center1] 10px [center2] auto [end-column];
    grid-template-rows: [start-row] auto [center1] 20px [center2] 1fr [end-row];
}

.container {
    padding: 10px;
    background-color: var(--window-bg-color);
    border: 2px solid var(--border-color);
    grid-row-start: start-row;
    grid-row-end: end-row;
}

.container-title {
    font-size: 24px;
    font-weight: 200;
    width: fit-content;
    margin: 0;
    background-color: var(--window-bg-color);
    border: 2px solid var(--border-color);
    padding: 0 20px 0 20px;
    position:relative;
    top: -25px;
    left: 2px
}

.menu {
    grid-column-start: start-column;
    grid-column-end: center1;
    min-width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-button {
    position: absolute;
    opacity: 0;
}

.menu-button-label {
    position: absolute;
    display: none;
    right: 20px;
    top: 6px;
    background-color: var(--window-bg-color);
    border: 2px solid var(--border-color);
    height: 29px;
    width: 29px;
    text-align: center;
    justify-content: center;
}

.menu-burger {
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-tree {
    list-style: none;
    padding-inline-start: 20px;
    letter-spacing: 1px;
}

.menu-item {
    margin-top: 10px;
    font-size: 20px;
}

.menu-input {
    position: absolute;
    opacity: 0;
}

.menu-input-label {
    position: relative;
    display: flex;
    align-items: center;
}

.menu-tree-sub {
    display: none;
    list-style: none;
    padding-inline-start: 20px;
}

.triangle {
    transform-origin: 5px 5px;
}

.menu-label-text {
    padding-left: 5px;
}

.menu-input:checked ~ .menu-tree-sub {
    display: block;
}

.menu-input:checked ~ label svg .triangle {
    transform: rotate(90deg);
}

.menu-link {
    text-decoration: none;
    color: var(--text-color);
}

.content {
    grid-row-start: start-row;
    grid-row-end: end-row;
    grid-column-start: center2;
    grid-column-end: end-column;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article {
    border: 2px solid var(--border-color);
    margin: 20px;
    padding: 10px;
    color: var(--text-color);
}

.article-title {
    font-size: 30px;
    margin: 0;
    color: var(--text-color);
}

.code-block {
    padding: 10px;
    border: 1px solid var(--border-color);
}

#dark-mode {
    position: absolute;
    opacity: 0;
}

#dark-mode ~ label {
    display: block;
    text-align: right;
    margin-top: auto;
}

#cross {
    display: none;
}

@media screen and (max-width: 950px) {
    .menu {
        display: none;
        height: fit-content;
        grid-row-start: start-row;
        grid-row-end: center1;
        grid-column-end: end-column;
    }

    .menu-button-label {
        display: block;
    }

    .content {
        grid-column-start: start-column;
    }

    #menu-button:checked ~ .content {
        grid-row-start: center2;
    }

    #menu-button:checked ~ .menu {
        display: block;
    }

    #menu-button:checked ~ label #cross {
        display: block;
    }

    #menu-button:checked ~ label #burger {
        display: none;
    }
}